
h1 {
    width: 200px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
}

button {
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: lightgrey;
    color: black;
    transition: .2s;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

p {
    text-align: right;
    color: navy;
}

.multi-file-div {
    margin-top: 10px;
}

a {
    display: none;
}